.detention
  .title
    =detention[1][0].datetime_for_header
    .button Register
  - if detention_counter == 0
    .detention-header
      .student-name Student
      .detention-reason Reason
      .points Points

  %ul.selector{:id => "#{detention[1][0].datetime_for_id}"}
    = render partial: "detention_row", collection: detention[1]
