#sidebar
  .user
    .inner
      .user-avatar
      Rufus Fleary
  .title
    Holding Pen
    .edit Edit
  %ul
    = render partial: "pen_detention", collection: @pen_detentions
  #add-to-pen.button Add Student to Pen